[submodule "wiki"]
	path = wiki
	url = git://github.com/gmocornejos/nyoka_snd_lib.wiki.git
[submodule "nyoka_snd_lib.wiki"]
	path = nyoka_snd_lib.wiki
	url = git://github.com/gmocornejos/nyoka_snd_lib.wiki.git
